{:source-paths ["src" "dev"]

 :dependencies [[org.clojure/clojure "1.10.2"]]

 :builds
 {:dev {:target :node-script
        :main app/main
        :output-to "out/cljs-express/index.js"
        :devtools
        {:after-load app/start!
         :before-load app/stop!}}}}